## sort_values() metodu, inplace parametresi ve in

In [17]:
import pandas as pd

In [18]:
ulke=pd.read_csv("ulke.csv",squeeze=True)
gelir=pd.read_csv("milligelir.csv",squeeze=True)
gelir

0        65625.00
1       150000.00
2       106573.89
3        77400.00
4       725000.00
5       150000.00
6       285008.00
7        74000.00
8        93750.00
9        66150.00
10      413333.33
11       77004.00
12      164250.00
13      175008.00
14       85008.00
15     1041310.00
16      568000.00
17      183756.00
18       53000.00
19      325008.00
20      165300.00
21       65004.00
22      195000.04
23      279500.00
24       65004.00
25      120008.00
26      770750.00
27       53004.00
28       53004.00
29       65000.00
          ...
585     140000.00
586     202000.00
587     183833.33
588      71885.00
589      73800.00
590      66849.00
591     180000.00
592     131250.00
593     175000.00
594     885500.00
595      67500.00
596      65000.00
597     120000.00
598    1800000.04
599      65004.00
600     378933.33
601      99600.00
602     533700.04
603      65004.00
604      65004.00
605      54075.00
606     670000.00
607     308333.33
608     377000.00
609     194000.00
610      80000.00
611     368125.00
612     184000.00
613      54075.00
614     453333.33
Name: 2297000.0, Length: 615, dtype: float64

In [19]:
ulke.sort_values().head()

0     AUSTRALIA
42    AUSTRALIA
26    AUSTRALIA
56    AUSTRALIA
59    AUSTRALIA
Name: Ulke, dtype: object

In [20]:
gelir.sort_values(ascending=False).head()  #parametreleri Shift+Tab ile görebiliriz

400    7167500.00
567    7115555.67
559    6500000.00
348    5915690.00
354    5610000.00
Name: 2297000.0, dtype: float64

When inplace=True is passed, the data is renamed in place (it returns nothing). When inplace=False is passed (this is the default value, so isn't necessary), performs the operation and returns a copy of the object

In [23]:
gelir.sort_values(ascending=True,inplace=True) #inplace=degistirdigimiz sırayı gelir'e tekrar atayabilmek için

In [22]:
gelir

0        65625.00
1       150000.00
2       106573.89
3        77400.00
4       725000.00
5       150000.00
6       285008.00
7        74000.00
8        93750.00
9        66150.00
10      413333.33
11       77004.00
12      164250.00
13      175008.00
14       85008.00
15     1041310.00
16      568000.00
17      183756.00
18       53000.00
19      325008.00
20      165300.00
21       65004.00
22      195000.04
23      279500.00
24       65004.00
25      120008.00
26      770750.00
27       53004.00
28       53004.00
29       65000.00
          ...
585     140000.00
586     202000.00
587     183833.33
588      71885.00
589      73800.00
590      66849.00
591     180000.00
592     131250.00
593     175000.00
594     885500.00
595      67500.00
596      65000.00
597     120000.00
598    1800000.04
599      65004.00
600     378933.33
601      99600.00
602     533700.04
603      65004.00
604      65004.00
605      54075.00
606     670000.00
607     308333.33
608     377000.00
609     194000.00
610      80000.00
611     368125.00
612     184000.00
613      54075.00
614     453333.33
Name: 2297000.0, Length: 615, dtype: float64

In [24]:
gelir.sort_index()

0        65625.00
1       150000.00
2       106573.89
3        77400.00
4       725000.00
5       150000.00
6       285008.00
7        74000.00
8        93750.00
9        66150.00
10      413333.33
11       77004.00
12      164250.00
13      175008.00
14       85008.00
15     1041310.00
16      568000.00
17      183756.00
18       53000.00
19      325008.00
20      165300.00
21       65004.00
22      195000.04
23      279500.00
24       65004.00
25      120008.00
26      770750.00
27       53004.00
28       53004.00
29       65000.00
          ...
585     140000.00
586     202000.00
587     183833.33
588      71885.00
589      73800.00
590      66849.00
591     180000.00
592     131250.00
593     175000.00
594     885500.00
595      67500.00
596      65000.00
597     120000.00
598    1800000.04
599      65004.00
600     378933.33
601      99600.00
602     533700.04
603      65004.00
604      65004.00
605      54075.00
606     670000.00
607     308333.33
608     377000.00
609     194000.00
610      80000.00
611     368125.00
612     184000.00
613      54075.00
614     453333.33
Name: 2297000.0, Length: 615, dtype: float64

In [25]:
1 in [1,2,3,4]   #in = içerisinde var mı

True

In [26]:
"AUSTRALIA" in ulke.values

True