## Indeksleme ve matematiksel işlemler

In [1]:
import pandas as pd

In [4]:
ulke=pd.read_csv("ulke.csv",squeeze=True)
ulke

0             AUSTRALIA
1                 CHINA
2             AUSTRALIA
3                 CHINA
4                 JAPAN
5                 CHINA
6                 JAPAN
7              THAILAND
8                 CHINA
9             AUSTRALIA
10                CHINA
11                JAPAN
12             THAILAND
13                CHINA
14            AUSTRALIA
15                CHINA
16             THAILAND
17                CHINA
18            AUSTRALIA
19                CHINA
20             THAILAND
21                JAPAN
22                INDIA
23                CHINA
24             MALAYSIA
25                CHINA
26            AUSTRALIA
27                CHINA
28             THAILAND
29    REPUBLIC OF KOREA
            ...
43                CHINA
44             THAILAND
45                CHINA
46             VIET NAM
47                CHINA
48            HONG KONG
49                JAPAN
50                CHINA
51                JAPAN
52                CHINA
53    REPUBLIC OF KOREA
54                JAPAN
55                CHINA
56            AUSTRALIA
57               TAIWAN
58    REPUBLIC OF KOREA
59            AUSTRALIA
60             THAILAND
61                CHINA
62                INDIA
63                CHINA
64               TAIWAN
65    REPUBLIC OF KOREA
66                CHINA
67    REPUBLIC OF KOREA
68            AUSTRALIA
69               FRANCE
70              GERMANY
71               SWEDEN
72                ITALY
Name: Ulke, Length: 73, dtype: object

In [5]:
ulke[5:10]  #5 dahil, 10'a kadar. 10 dahil değil

5        CHINA
6        JAPAN
7     THAILAND
8        CHINA
9    AUSTRALIA
Name: Ulke, dtype: object

In [6]:
ulke[5:]  #5'den sona kadar

5                 CHINA
6                 JAPAN
7              THAILAND
8                 CHINA
9             AUSTRALIA
10                CHINA
11                JAPAN
12             THAILAND
13                CHINA
14            AUSTRALIA
15                CHINA
16             THAILAND
17                CHINA
18            AUSTRALIA
19                CHINA
20             THAILAND
21                JAPAN
22                INDIA
23                CHINA
24             MALAYSIA
25                CHINA
26            AUSTRALIA
27                CHINA
28             THAILAND
29    REPUBLIC OF KOREA
30                CHINA
31    REPUBLIC OF KOREA
32             THAILAND
33                JAPAN
34                INDIA
            ...
43                CHINA
44             THAILAND
45                CHINA
46             VIET NAM
47                CHINA
48            HONG KONG
49                JAPAN
50                CHINA
51                JAPAN
52                CHINA
53    REPUBLIC OF KOREA
54                JAPAN
55                CHINA
56            AUSTRALIA
57               TAIWAN
58    REPUBLIC OF KOREA
59            AUSTRALIA
60             THAILAND
61                CHINA
62                INDIA
63                CHINA
64               TAIWAN
65    REPUBLIC OF KOREA
66                CHINA
67    REPUBLIC OF KOREA
68            AUSTRALIA
69               FRANCE
70              GERMANY
71               SWEDEN
72                ITALY
Name: Ulke, Length: 68, dtype: object

In [7]:
ulke[:10]  #ilk 10 eleman

0    AUSTRALIA
1        CHINA
2    AUSTRALIA
3        CHINA
4        JAPAN
5        CHINA
6        JAPAN
7     THAILAND
8        CHINA
9    AUSTRALIA
Name: Ulke, dtype: object

## matematiksel işlemler

In [9]:
gelir=pd.read_csv("milligelir.csv",squeeze=True)

In [10]:
gelir.count()  #kaç elamanvar

615

In [11]:
len(gelir)

615

In [12]:
sum(gelir)

198604764.25999993

In [13]:
gelir.sum()

198604764.26

In [14]:
gelir.mean()

322934.5760325202

In [15]:
gelir.std()

744365.348101673

In [16]:
min(gelir)

52999.92

In [17]:
min(gelir)

52999.92

In [18]:
gelir.median()

135000.0

In [19]:
gelir.describe()  #describe ile istatiksel bazı ögelere erişebiliriz.

count    6.150000e+02
mean     3.229346e+05
std      7.443653e+05
min      5.299992e+04
25%      6.981050e+04
50%      1.350000e+05
75%      2.797500e+05
max      7.167500e+06
Name: 2297000.0, dtype: float64